/** @format */

.topBlock {
  background: #e06b6b;
  position: relative;
  height: 500px;
  margin: 20px 0;
  box-shadow: 11px 7px 10px rgb(171 171 171 / 50%);
}
.topContainer {
  display: flex;
  justify-content: space-around;
}
.imageRight {
  width: 100%;
}
