/** @format */
.topRightBlockImg {
  background-image: url(images/home/homeTop.jpg);
  height: 500px;
  position: absolute;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  top: 0;
}
