/** @format */

.footerTopBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.tempExemple {
  color: #fff;
}
.footer {
  background: #e06b6b;
  margin-top: auto;
}
