/** @format */

.headerTopBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.login {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login:hover .loginText,
.login:hover .loginIcon {
  transition: 0.3s;
  color: #e06b6b;
}
.loginText {
  margin-left: 5px;
}
.lkLoginBlock {
  display: flex;
  align-items: center;
}
.faceNameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.accountIcon {
  font-size: 30px;
  color: rgb(187, 187, 187);
}
