/** @format */
.appointBox {
  display: flex;
  /* border: 1px solid #999; */
  border-bottom: none;
  margin-bottom: 50px;
  box-shadow: 2px 2px 8px 1px #e6e6e6;
  width: 100%;
}
.navBar {
  background: #e47878;
}
.nav {
  color: #fff;
  white-space: nowrap;
  padding: 10px 30px 10px 10px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.activeNav {
  background-color: #f08282;
}
.nav:hover {
  background-color: #f08282;
}
.activeNav::after {
  content: '';
  display: block;
  border: 10px solid #fceded;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(70%, 45%) rotate(45deg);
}
