/** @format */

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
}
.searchInput {
  border: 1px solid #8f8f8f;
  border-radius: 2px;
  margin-right: 5px;
  width: 500px;
  padding: 5px;
  font-size: 16px;
}
.icon {
  color: #b9b9b9;
  font-size: 25px;
  pointer-events: none;
  position: absolute;
  right: 10px;
}
.icon::clear {
  display: none;
}
.icon[type='search' i] {
  display: none;
}
.icon:hover {
  color: #6b9ae0;
  transition: 0.3s;
}
